{% for p in product %}
<div class="product-item bg-white overflow-hidden">
    <a href="#"><img class="card-img-top product-img p-3" data-image="{{ p.image }}" src="{{ p.image }}" alt={{ p.name
                     }}></a>
    <div class="btn-set d-flex flex-column">
        <a class="icon d-flex mb-1 border-0"><i class="fa-regular fa-heart icon-heart"></i></a>

        <a class="icon d-flex mb-1 border-0 addToCartBtn"
           data-id="{{ p.id }}"
           data-title="{{ p.name }}"
           data-price="{{ p.price }}"
           data-image="{{ p.image }}"
        >
            <i class="fa-solid fa-cart-shopping icon-cart-shopping"></i>
        </a>

        <a href="/product/{{ p.id }}" class="icon d-flex mb-1 border-0">
            <i class="fa-solid fa-magnifying-glass icon-magnifying-glass"></i>
        </a>
    </div>
    <div class="product-detail text-center">
        <div class="product-title" id="product-title" data-title="{{ p.name }}"><a href="#">{{ p.name }}</a></div>
        <div class="product-price" id="product-price" data-price="{{ p.price }}">{{ p.price }}$</div>

    </div>
</div>
{% endfor %}