<footer class="newsletter py-3">
    <div class="container ">
        <div class="row ">
            <div class="col-12">
                <h4 class="text-center text-white">SIGN UP FOR NEWSLETTERS</h4>
                <p class="text-center text-white">Get weekly updates about our latest shop and special offers</p>
                <div class="input-group mb-3 d-flex justify-content-center">
                    <input type="text" class="form-control" placeholder="Email address" aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <span class="input-group-text px-4" id="basic-addon2">Subscribe</span>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4 class="footer-title">Information</h4>
                <ul class="footer-items">
                    <li>About Us</li>
                    <li>Blog</li>
                    <li>Search</li>
                    <li>Careers</li>
                    <li>Privacy Policy</li>
                    <li>Additional Information</li>
                    <li>Look Book</li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="footer-title">Customer Services</h4>
                <ul class="footer-items">
                    <li>Contact Us</li>
                    <li>Customer Service</li>
                    <li>Orders & Returns</li>
                    <li>Help & FAQs</li>
                    <li>Custom Link</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="footer-title">Quick Shop</h4>
                <ul class="footer-items">
                    <li>Collections</li>
                    <li>All Products</li>
                    <li>New Arrivals</li>
                    <li>Trending Products</li>
                    <li>Special Offers</li>
                    <li>Electronics</li>
                    <li>Beauty</li>
                </ul>
            </div>
            <div class="col-3">
                <h4 class="footer-title">Information</h4>
                <ul class="footer-items">
                    <li>55 Gallaxy Enque, 2568 steet, 23568 NY</li>
                    <li>(440) 000 000 0000</li>
                    <li>sales@yousite.com</li>
                </ul>
                <h4 class="footer-title">Stay Connected</h4>
                <ul class="footer-items d-flex flex-row gap-15">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-google-plus-g"></i></li>
                    <li><i class="fa-brands fa-pinterest"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>