* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}

:root {
    --color-e9edd7: #e9edd7;
    --color-075159: #075159;
    --color-ef8700: #ef8700;
}

.bg-orange {
    background-color: #ef8700!important;
}
/* Header */
.header-top{
    background-color: var(--color-e9edd7);
}
.header-top a {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
}
.header-top i {
    color: #48a6ae;
    font-size: 16px;
}
.header-main div i {
    display: block;
    border-radius: 10px;
}
.header-main div input:focus {
    box-shadow: none;
    border-color: inherit;
}
.header-main-content p {
    font-size: 13px;
    font-weight: 400;
}
p.header-main-content-bold {
    color: var(--color-075159);
    font-size: 16px;
    font-weight: 600;
}
.header-nav {
    background-color: var(--color-075159);
}
.header-nav .navbar-nav .nav-item:hover {
    background-color: var(--color-ef8700);
}
.dropdown-menu {
    padding: 0;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
}
.dropdown-item {
    padding: 10px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-item:hover {
    background-color: var(--color-ef8700);
    color: #fff;
}
/* End Header */

/* Footer */

footer {
    background-color: #000e11;
}
.newsletter {
    background-color: #48a6ae;
}
.newsletter input {
    max-width: 600px;
    background-color: #a4d2d6;
    padding: 15px;
    font-size: 14px;
}
.newsletter input:focus {
    box-shadow: none;
    border-color: inherit;
    background-color: #a4d2d6;

}
.newsletter .input-group span {
    background-color: var(--color-075159);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
.newsletter .input-group span:hover {
    opacity: .8;
}
.footer-title {
    color: #fba402;
    text-transform: uppercase;
    font-size: 16px;
}
.footer-items {
    list-style-type: none;
    padding-left: 0;
}
.footer-items li{
    color: #fff;
    font-size: 14px;
}
.footer-items li i {
    font-size: 26px;

}

/* End Footer */

/* Home Categories */

.container-title {
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}
.container-title span:before {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--color-075159);
    position: absolute;
    top: 18px;
    left: -80px;
}
.container-title span:after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--color-075159);
    position: absolute;
    top: 18px;
    right: -80px;
}
.home-categories span{
    width: 100%;
    top: 50%;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    display: inline;
    text-align: center;
}
.home-categories div {
    overflow: hidden;
}
.home-categories a img {
    transition: all 1s;
}
.home-categories a:hover img{
    transform: scale(1.2);
}
.home-categories a span {
}
.home-categories a:hover span {
    display: none;
}
.home-categories a:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    border: 1px solid #fff;
    opacity: .5;
    z-index: 1;
}
/* End Home Categories */

/* Home Best Seller */
.home-bestseller a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}
.home-bestseller a:hover{
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    opacity: .8;
}

.home-bestseller-product-content h5{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.home-bestseller-product-content p{
    font-size: 15px;
    font-weight: 600;
    color: #000;

}

/* End Home Best Seller */

/* Popular Collection */
.home-collection a{
    position: relative;
    overflow: hidden;
    display: block;
}
.home-collection a:hover .home-collection-title {
    bottom: 0;
}
.home-collection-img{
    overflow: hidden;
    position: relative;
}
.home-collection-img img {
    transition: all .5s;
}
.home-collection-img img:hover {
    transform: scale(1.1);
}
.home-collection-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 10px;
    position: absolute;
    bottom: -56px;
    left: 0;
    width: 100%;
    transition: all .5s;
    text-transform: uppercase;
}
.home-collection-title h5{
    font-size: 14px;
    font-weight: 700;
}
.home-collection-title p{
    font-size: 12px;
    font-weight: 400;
}



/* End Popular Collection */

/*Product*/
.card-body{
    padding: 0%;
}
.widget-content li:hover a {
    color: var(--color-ef8700)
}
.widget-content,
.widget-title{
    padding: 10px;
}
.widget-title{
    background-color: #f5f5f5;
}

.productList{
    margin-left: -10px;
}

.product-item{
    width: calc(25% - 10px);
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
}
.product-title{
    font-size: 13px;
}
.product-price{
    font-size: 14px;
    font-weight: bold;
}
.product-detail{
    padding: 0 10px 10px;
}

.icon{
    width: 36px;
    height: 36px;
    background-color: #075159;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}
.icon:hover i {
    opacity: .7;
    color: #fff;
}

.btn-set{
    position:absolute;
    top: 0;
    left: -50px;
    transition:all .4s ease-in-out;
}

.product-item:hover .btn-set{
    left: 0;
}
.product-img{
    transition:all .3s ease-in-out;
}
.product-item:hover .product-img{
    opacity: 0.7;
}
/*End product*/

/*Product Detail*/
.breadcrumbWrap{
    background:#f9f9f9;
    margin:0 0 30px;
}
.breadcrumbs{
    padding:8px 0;
    margin-bottom:0;
    margin:0;
}
.breadcrumbs a{
    color:#000;
}
.breadcrumbs a,.breadcrumbs span{
    display:inline-block;
    padding:0 7px 0 0;
    margin-right:7px;
    font-size:12px;
}
.breadcrumbs a:first-child{
    padding-left:-20;
}
.grid {
    *zoom: 1;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -10px;
}
.grid__item{
    float:left;
    padding-left:30px;
    width:100%;
}
.thumbnails-wrapper{
padding-top:10px;
text-align:center;
}
.thumbnails-wrapper .product-single__thumbnails{
margin-left:-10px;
}
.thumbnails-wrapper .product-single__thumbnails-item{
    display:inline-block;
    float:none;
    margin-left:-4px;
    padding-left:10px;
    vertical-align:top;
}
.thumbnails-wrapper .product-single__thumbnail.active-thumb{
    opacity:1;
}
.medium-up--one-half{
    width:50%;
}
.small--one-third{
    width:33.33333%;
}
.large--one-quarter{
    width:25%;
}
.large-up--one-fifth{
    width:20%;
}
.product-template__container .product-single__photos{
margin-bottom:35px;
position:relative;
}
.spr-container {
    padding: 24px;
    border-color: #ECECEC;
}
.spr-review, .spr-form {
    border-color: #ECECEC;
}

.hide{
    display:none!important;
}

.rte{
    color:#555555;
    margin-bottom:20px;
}

.btn{
    cursor:pointer;
    border:1px solid transparent;
    border-radius:0;
    padding:8px 15px 8px;
    background-color:#ef8700;
    color:white;
    font-family:"Roboto", "Calibri";
    font-size:15px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
}

.btn:hover,.btn:focus{
    color:white;
    background-color:#ff9f23;
    opacity:1;
}

p.product-single__price{
    font-size:2em;
    margin-bottom:10px;
}
.product-single__photo .lightbox{
cursor:pointer;
}
.product-form__variants{
    display:none;
}
.product-form__input{
    display:block;
    width:100%;
}
.product-single__description{
    margin-top:20px;
}
.text-link{
    display:inline;
}
.qtyField{
    display:table;
}
.qtyField > a,.qtyField input{
    display:table-cell;
    padding:3px 6px;
    border:1px solid #f5f5f5;
}
.qtyField a input{
    background-color:#f5f5f5;
    color:#000;
    font-family:"Roboto", "Calibri";
    font-size:20px;
}

.qtyField .qtyBtn{
    line-height:24px;
}
.qtyField .qtyBtn,.qtyField .qty{
    padding:10px 6px;
    width:42px;
    height:42px;
    border-radius:0;
    float:left;
}
.product-template__container .product-single__meta{
    margin-bottom:35px;
    position:relative;
}
.product-template__container .product-action{
    clear:both;
    padding:10px 0 20px;
    position:relative;
}
.product-template__container .product-action .product-form__item--quantity{
    float:left;
    margin-right:10px;
}
.product-template__container .product-action .product-form__item--submit{
    width:auto;
    overflow:hidden;
    padding-right:50px;
}
.product-template__container .product-action .product-form__item--submit .product-form__cart-submit{
    height:40px;
    width:100%;
    vertical-align:top;
}

.product-template__container .product-action .product-form__item--submit{
    clear:both;
    padding:0;}
}
.product-template__container .product-single__meta{
    display:inline-block;
    font-size:12px;
    padding-left:5px;
}
.product-template__container .price__unit{
    margin:-12px 0 15px;
}
.product-template__container .product__policies{
    margin-top:-12px;
}
.product-info{
    margin-bottom:20px;
}
.product-info p{
    margin-bottom:4px;
    position:relative;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
}
.product-info p span{
    left:120px;
    position:absolute;
    font-weight:400;
    text-transform:capitalize;
}

.productglobaltext{
    margin-bottom:15px;
    font-size:15px;
    line-height:24px;
}

.productglobaltext ul li{
    padding-left:10px;
    font-size:13px;
    line-height:24px;
    list-style-type:square;
}
.product-price__price{
    color:#22ff00;
    font-weight:600;
    text-transform:bold;
}
.spr-starrating .spr-icon{
    font-size:20px!important;
    opacity:1!important;
    color:#f5a100!important;
    margin:0 1px;
}
.grid-view-item .grid-view-item__meta{
    margin-top:8px;
}
.slick-initialized .slick-slider{
position:relative;
display:block;
}

/*Product Detail's End*/

/* Begin Card */
.bill-container {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

.bill-container h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.bill-head {

    background-color: #F9F9F9;
}

.bill-head .head-list {
    display: flex;
    width: 100%;
    padding-left: 0;
    list-style-type: none;
}

.bill-head .bill-item {
    padding: 10px 15px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #555;
}

.bill .item-name {
    flex: 6;
}

.bill .item-price {
    flex: 1;
}

.bill .item-quantity {
    flex: 2;
}

.bill .item-total {
    flex: 1;
}


.head-list .bill-item:first-child {
    width: 50%;
}

.head-list .bill-item:last-child {
    text-align: right;
}

.bill-body .bill-detail {
    display: flex;
    padding-left: 0;
    height: 130px;
    border-bottom: solid 1px #ccc;
}

.bill-body .bill-item {
    padding: 10px 15px;
    font-size: 13px;
    line-height: 80px;
}

.bill-body .item-name {
    display: flex;
}

.bill-body .item-fullname {
    padding-left: 30px;
}

.bill-body .item-price {
    text-align: center;
}

.bill-body .item-total {
    text-align: right;
}

.bill-body .wrapper {
    display: flex;
    justify-content: center ;
    line-height: 40px;
    font-weight: 500;
}

.bill-body .wrapper span.num {
    padding: 0 14px;
    font-size: 14px;
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    border-left: solid 1px rgba(0, 0, 0, 0.3);
}

.bill-body .wrapper span.minus,
.bill-body .wrapper span.plus {
    padding: 0 14px;
    font-size: 30px;
    cursor: pointer;
}

.bill-body .btn-delete {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #ef8700;
    border: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.bill-body .close-icon {
    font-size: 10px;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bill-container .information {
    display: flex;
    justify-content: space-between;
}

.information .note {
    flex: 1;
    padding-right: 30px;
}

.information .address {
    flex: 1;
}

.information .payment {
    flex: 1;
}

.information .notebox {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

.information .info-header {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
}

.information .address .wrapper-form {
    padding-bottom: 18px;
}

.information .wrapper-form label {
    min-width: 60px;
    font-size: 13px;
    counter-reset: #555;
}

.information .wrapper-form .input-form {
    border: solid 1px #ccc;
    width: 200px;
    height: 30px;
}

.information .wrapper-form button {
    width: 184px;
    background-color: #075159;
    color: #fff;
    font-weight: bold;
    border: none;
    height: 32px;
}

.information .payment {
    text-align: right ;
}

.information .payment .sub-info-header {
    padding-bottom: 28px;
    color: #555;
    font-size: 13px;
    font-style: italic;
}

.information .payment button {
    display: block;
    width: 280px;
    color: #fff;
    font-weight: bold;
    border: none;
    height: 32px;
}

.payment-btn {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.btn-update {
    background-color: #075159;
    margin-bottom: 20px;
    align-self: flex-end;
}

.btn-checkout {
    background-color: #ef8700;
    align-self: flex-end;
}
/* End Card */

/* Signup */

.title-primary {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.btn-primary {
    background-color: var(--color-ef8700);
    color: #fff;
    text-transform: uppercase;
    border: none;
    min-width: 110px;
    padding: 10px 0 10px 0;
}
.btn-primary:hover {
    opacity: 0.8;
    background-color: var(--color-ef8700);
}
.form-signup label,
.form-login label{
    font-size: 14px;

}

/* End Signup */

