{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="bill-container">
        <h2>YOUR CARD</h2>
        <div class="bill">
            <div class="bill-head">
                <ul class="head-list">
                    <li class="bill-item item-name">PRODUCT</li>
                    <li class="bill-item item-price">PRICE</li>
                    <li class="bill-item item-quantity">QUANTITY</li>
                    <li class="bill-item item-total">TOTAL</li>
                </ul>
            </div>
            <div class="bill-body">
                {% for key, value in cart.items %}
                    <ul class="bill-detail">
                        <li class="bill-item item-name">
                            <img src="{% static ''%}{{ value.image }}" alt="item picture" class="item-img">
                            <p class="item-fullname">{{ value.name }}</p>
                        </li>
                        <li class="bill-item item-price">{{ value.price }}</li>
                        <li class="bill-item item-quantity">
                            <div class="wrapper">
                                <span class="minus">-</span>
                                <span class="num">{{ value.quantity }}</span>
                                <span class="plus">+</span>
                            </div>
                            <div class="button btn-delete"><i class="fa-solid fa-xmark"></i> REMOVE</div>
                        </li>
                        <li class="bill-item item-total">{% widthratio value.price 1 value.quantity %}</li>
                    </ul>
                {% endfor %}
            </div>

        </div>
        <div class="information">
            <div class="note">
                <div class="info-header">ADD A NOTE TO YOUR ORDER</div>
                <form>
                    <textarea class="notebox"></textarea>
                </form>
            </div>
            <div class="address">
                <div class="info-header">GET SHIPPING ESTIMATES</div>
                <div class="wrapper-form">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="countryname" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="country">Postal/Zip</label>
                    <input type="text" id="postal" name="postal-zip" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="code">Code</label>
                    <button class="button">CALCULATE SHIPPING</button>
                </div>
            </div>
            <div class="payment">
                <div class="info-header">SUBTOTAL: ${{ total }}</div>
                <div class="sub-info-header">Shipping & taxes calculated at checkout</div>
                <div class="payment-btn">
                    <button class="button btn-update">UPDATE</button>
                    <button class="button btn-checkout">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");

        let a = 1;

        plus.addEventListener("click", ()=>{
            a++;
            a = (a < 10)? "0" + a : a;
            num.innerHTML = a;
            console.log(a);
        });

        minus.addEventListener("click", ()=>{
            if (a > 1)
            {
                a--;
                a = (a < 10)? "0" + a : a;
                num.innerHTML = a;
            }
        });
    </script>
{% endblock %}