{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="bill-container">
        <h2>YOUR CART</h2>
        <div class="bill">
            <div class="bill-head">
                <ul class="head-list">
                    <li class="bill-item item-name">PRODUCT</li>
                    <li class="bill-item item-price">PRICE</li>
                    <li class="bill-item item-quantity">QUANTITY</li>
                    <li class="bill-item item-total">TOTAL</li>
                </ul>
            </div>
            <div class="bill-body"  id="cartList" >
                {% for key, value in cart.items %}
                    <ul class="bill-detail">
                        <li class="bill-item item-name">
                            <img src="{% static ''%}{{ value.image }}" alt="item picture" class="item-img">
                            <p class="item-fullname">{{ value.name }}</p>
                        </li>
                        <li class="bill-item item-price">{{ value.price }}</li>
                        <li class="bill-item item-quantity d-flex flex-column   ">
                            <div class="wrapper">
                                <button class="minusBtn  reduceFromCartBtn" onclick="minutBtn()"
                                        data-id="{{ value.id }}"
                                        data-title="{{ value.name }}"
                                        data-price="{{ value.price }}"
                                        data-image="{{ value.image }}"
                                >
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                                <input type="text" value="{{ value.quantity }}" class="qty" id="qty-{{ value.id }}"/>
                                <button class="plusBtn addToCartBtn" onclick="plustBtn()"
                                        data-id="{{ value.id }}"
                                        data-title="{{ value.name }}"
                                        data-price="{{ value.price }}"
                                        data-image="{{ value.image }}"
                                >
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <div class="button btn-delete" data-item="{{ value.id }}"><i class="fa-solid fa-xmark"></i> REMOVE</div>
                        </li>
                        <li class="bill-item item-total">{% widthratio value.price 1 value.quantity %}</li>
                    </ul>
                {% endfor %}
            </div>

        </div>
        <div class="information">
            <div class="note">
                <div class="info-header">ADD A NOTE TO YOUR ORDER</div>
                <form>
                    <textarea class="notebox"></textarea>
                </form>
            </div>
            <div class="address">
                <div class="info-header">GET SHIPPING ESTIMATES</div>
                <div class="wrapper-form">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="countryname" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="country">Postal/Zip</label>
                    <input type="text" id="postal" name="postal-zip" placeholder="" class="input-form">
                </div>
                <div class="wrapper-form">
                    <label for="code">Code</label>
                    <button class="button">CALCULATE SHIPPING</button>
                </div>
            </div>
            <div class="payment">
                <div class="info-header">SUBTOTAL: ${{ total }}</div>
                <div class="sub-info-header">Shipping & taxes calculated at checkout</div>
                <div>
                    <form class="payment-btn" action="{% url 'checkout' %}" METHOD="POST">
                        <button class="button btn-update">UPDATE</button>
                        <button class="button btn-checkout">CHECKOUT</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}