{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="w-100 mt-5">
        <div class="container bg-white">
            <div class="row">
                <div class="col-4">
                    <div class="p-1">
                        <div class="sidebar_widget border mb-3">
                            <div class="widget-title">CATEGORIES</div>
                            <div class="widget-content">
                                <ul class="p-0">
                                    {% for c in categories %}
                                    <li class="p-1">
                                        <a href="/category/{{ c.id }}">{{ c.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_widget border mb-3">
                            <div class="widget-title">FILTER BY PRICE</div>
                            <div class="widget-content">
                                <ul class="p-0">
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Under $100</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>$100 - $300</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>$300 - $500</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>$500 - $1000</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>$1000 - $1500</span>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_widget border mb-3">
                            <div class="widget-title">FILTER BY COLOR</div>
                            <div class="widget-content">
                                <ul class="p-0 d-flex">
                                    <li class="p-1 m-2 border" style="width: 25px; height: 25px;"><a href="#" class="w-100 h-100 d-block" style="background-color: black;"></a></li>
                                    <li class="p-1 m-2 border" style="width: 25px; height: 25px;"><a href="#" class="w-100 h-100 d-block" style="background-color: red;"></a></li>
                                    <li class="p-1 m-2 border" style="width: 25px; height: 25px;"><a href="#" class="w-100 h-100 d-block" style="background-color: blue;"></a></li>
                                    <li class="p-1 m-2 border" style="width: 25px; height: 25px;"><a href="#" class="w-100 h-100 d-block" style="background-color: pink;"></a></li>
                                    <li class="p-1 m-2 border" style="width: 25px; height: 25px;"><a href="#" class="w-100 h-100 d-block" style="background-color: white;"></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_widget border mb-3">
                            <div class="widget-title">FILTER BY TYPE</div>
                            <div class="widget-content">
                                <ul class="p-0">
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>SLR</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Digital</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Video Camera</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Lens</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_widget border mb-3">
                            <div class="widget-title">FILTER BY BRANDS</div>
                            <div class="widget-content">
                                <ul class="p-0">
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Canon</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Acer</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Nikon</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Philips</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Samsung</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Fujifilm</span>
                                    </li>
                                    <li class="p-1">
                                        <input type="checkbox"/>
                                        <span>Sony</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-8">
                    <header class="product-header mb-3">
                        <h1>{{ category.name }}</h1>
                        <div class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum aperiam corporis minima quod. Hic, voluptas? Laudantium sed ex blanditiis ipsam necessitatibus molestiae illo deleniti, dolor voluptatibus tempore molestias aliquid.</div>
                    </header>
                    <div class="productList d-flex flex-wrap">
                        {% for p in product %}
                        <div class="product-item bg-white overflow-hidden d-flex flex-column">
                            <a href="#"><img class="card-img-top product-img p-3" data-image="{{ p.image }}" src="{% static ''%}{{ p.image }}" alt={{ p.name }}></a>
                            <div class="btn-set d-flex flex-column">
                                <button class="icon d-flex mb-1 border-0"><i class="fa-regular fa-heart icon-heart"></i></button>

                                <button class="icon d-flex mb-1 border-0 addToCartBtn"
                                        data-id="{{ p.id }}"
                                        data-title="{{ p.name }}"
                                        data-price="{{ p.price }}"
                                        data-image="{{ p.image }}"
                                >
                                    <i class="fa-solid fa-cart-shopping icon-cart-shopping"></i>
                                </button>

                                <button class="icon d-flex mb-1 border-0" >
                                    <i class="fa-solid fa-magnifying-glass icon-magnifying-glass"></i>
                                </button>
                            </div>
                            <div class="product-detail text-center mt-auto">
                                <div class="product-title" id="product-title" data-title="{{ p.name }}" ><a href="#">{{ p.name }}</a></div>
                                <div class="product-price" id="product-price" data-price="{{ p.price }}">{{ p.price }}$</div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}