{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumbWrap">
            <div class="container">
                <div class="breadcrumbWrap">
                    <div class="page-width">
                        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
                            <a href="/" title="Back to the home page">Home</a>
                            <span aria-hidden="true">&rsaquo;</span>
                            <a href="/collections/frontpage" title="">Home page</a>
                            <span aria-hidden="true">&rsaquo;</span>
                            <span>32J4100 32 inches HD Ready LED TV</span>
                        </nav>
                    </div>
                </div>

            </div>
        </div>

<div class="page-container container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
        <div id="shopify-section-product-template" class="shopify-section">
            <div class="product-template__container page-width"
                 id="ProductSection-product-template" data-section-id="product-template" data-section-type="product"
                 data-enable-history-state="true">

                <meta itemprop="name" content="32J4100 32 inches HD Ready LED TV">
                <meta itemprop="url"
                      content="https://ngmulltistore.myshopify.com/products/samsung-32j4100-32-inches-hd-ready-led-tv">
                <meta itemprop="image"
                      content="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_800x.jpg?v=1516260250">

                <div class="grid product-single">
                    <div class="grid__item product-single__photos medium-up--one-half">
                        <div class="prod-large-img">
                            <div id="FeaturedImageZoom-product-template"
                                 class="product-single__photo product-single__photo--has-thumbnails lightbox"
                                 data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_1200x1200.jpg?v=1516260250">
                                <img src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_600x.jpg?v=1516260250"
                                     alt="32J4100 32 inches HD Ready LED TV" id="FeaturedImage-product-template"
                                     class="product-featured-img js-zoom-enabled">
                            </div>

                        </div>

                        <div class="thumbnails-wrapper">
                            <div class="grid">

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="grid__item medium-up--one-half">
                        <div class="product-single__meta">
                            <h1 itemprop="name" class="product-single__title">32J4100 32 inches HD Ready LED TV</h1>

                            <div itemprop="offers">
                                <meta itemprop="priceCurrency" content="USD">
                                <p class="product-single__price product-single__price-product-template">

                                    <span class="visually-hidden">Regular price</span>
                                    <s id="ComparePrice-product-template" class="hide"></s>
                                    <span class="product-price__price product-price__price-product-template">
                    <span id="ProductPrice-product-template" itemprop="price" content="779.0"><span
                            class=money>$779.00</span></span>
                    <span class="product-price__sale-label product-price__sale-label-product-template hide">Sale</span>
                  </span>

                                </p>
                                <div class="price__unit hide"><span class="unit-price"></span><span
                                        aria-hidden="true">/</span><span class="visually-hidden">per&nbsp;</span><span
                                        class="base-unit"></span></div>
                            </div>
                            <div class="product__policies rte" data-product-policies>Tax included. Shipping calculated
                                at checkout.
                            </div>
                            <div class="product-info">

                                <p class="product-stock">
                                    Availability:
                                    <span class="instock ">Available</span>
                                    <span class="outstock hide">Unavailable</span>
                                </p>

                                <p class="product-type">Product Type: <span>LCD LED Televisions</span></p>

                                <p class="product-type">Product Vendor: <span>Samsung</span></p>

                                <p class="product-sku">Product SKU: <span class="variant-sku">32J4100</span></p>

                            </div>

                            <div class="product-single__description rte" itemprop="description">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a...

                            </div>

                            <form method="post" action="/cart/add" id="product_form_6452620165" accept-charset="UTF-8"
                                  class="product-form-6452620165 product-form-product-template hidedropdown"
                                  enctype="multipart/form-data" novalidate="novalidate"><input type="hidden"
                                                                                               name="form_type"
                                                                                               value="product"/><input
                                    type="hidden" name="utf8" value="✓"/>
                                <div class="product-form">

                                    <select name="id" id="ProductSelect-product-template"
                                            data-section="product-template"
                                            class="product-form__variants selectbox no-js">

                                        <option selected="selected" value="21349670149">
                                            Default Title
                                        </option>

                                    </select>


                                </div>
                                <div class="product-action">
                                    <div class="product-form__item--quantity">
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus">
                                                    <center>-</center>
                                                </a>
                                                <input type="text" id="quantity" name="quantity" value="1"
                                                       class="product-form__input qty"/>
                                                <a class="qtyBtn plus">
                                                    <center>+</center>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-form__item--submit">
                                        <button type="submit" name="add" id="AddToCart-product-template"
                                                class="btn product-form__cart-submit product-form__cart-submit--small">
                  <span id="AddToCartText-product-template">
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart
                  </span>
                                        </button>

                                    </div>
                                </div>
                            </form>

                            <div class="productglobaltext">
                                <ul>
                                    <li>Exchange or Return within 7 days of a delivery</li>
                                    <li>100% quality Guaranteed Plus Fast & Secure Shipping</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="tabs-listing">
                    <ul class="product-tabs small--hide">

                        <li><a class="tablink" href="#tab1">Product Details</a></li>

                        <li><a class="tablink" href="#tab2">Product Reviews</a></li>

                    </ul>
                    <div class="tab-container">

                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab1">Product Details</a></h3>
                        <div id="tab1" class="tab-content grid-products">
                            <div class="product-description rte" itemprop="description"><strong>Lorem Ipsum</strong> is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab2">Product Reviews</a></h3>
                        <div id="tab2" class="tab-content grid-products">
                            <div id="shopify-product-reviews" data-id="6452620165">
                                <div class="spr-container">
                                    <div class="spr-header">
                                        <h2 class="spr-header-title">Customer Reviews</h2>
                                        <div class="spr-summary">
        <span class="spr-starrating spr-summary-starrating">
          <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                class="spr-icon spr-icon-star"></i>
        </span>
                                            <span class="spr-summary-caption">
                                                <span class='spr-summary-actions-togglereviews'>Based on 1 review</span>
        </span><span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(6452620165);return false'>Write a review</a>
      </span>
                                        </div>
                                    </div>
                                    <div class="spr-content">
                                        <div class='spr-form' id='form_6452620165'></div>
                                        <div class='spr-reviews' id='reviews_6452620165'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container home-collection py-4">
            <h3 class="container-title text-center py-3"><span class="position-relative">Related Products</span></h3>
            <div class="row justify-content-between">
                <div class="productList d-flex flex-wrap">

                    <div class="product-item bg-white overflow-hidden">
                        <a href=""><img class="card-img-top product-img p-3"
                                        src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_200x.png?v=1485678754"></a>
                        <div class="product-detail text-center">
                            <div class="product-title"><a href="">5.1 Channel Blu Ray Dollby Sound</a></div>
                            <div class="product-price">$1,700.00</div>
                        </div>
                    </div>
                    <div class="product-item bg-white overflow-hidden">
                        <a href=""><img class="card-img-top product-img p-3"
                                        src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_200x.png?v=1485678754"></a>
                        <div class="product-detail text-center">
                            <div class="product-title"><a href="">5.1 Channel Blu Ray Dollby Sound</a></div>
                            <div class="product-price">$1,700.00</div>

                        </div>
                    </div>
                    <div class="product-item bg-white overflow-hidden">
                        <a href=""><img class="card-img-top product-img p-3"
                                        src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_200x.png?v=1485678754"></a>
                        <div class="product-detail text-center">
                            <div class="product-title"><a href="">5.1 Channel Blu Ray Dollby Sound</a></div>
                            <div class="product-price">$1,700.00</div>

                        </div>
                    </div>
                    <div class="product-item bg-white overflow-hidden">
                        <a href=""><img class="card-img-top product-img p-3"
                                        src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_200x.png?v=1485678754"></a>
                        <div class="product-detail text-center">
                            <div class="product-title"><a href="">5.1 Channel Blu Ray Dollby Sound</a></div>
                            <div class="product-price">$1,700.00</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}