{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="page-container" id="PageContainer">
    <!-- site Content -->
    <main class="main-content" id="MainContent" role="main"><!-- breadcrumb -->
        <div class="bredcrumbWrap">
            <div class="container">
                <div class="bredcrumbWrap">
                    <div class="page-width">
                        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
                            <a href="/" title="Back to the home page">Home</a>

                            <span aria-hidden="true">&rsaquo;</span>

                            <a href="/collections/frontpage" title="">Home page</a>

                            <span aria-hidden="true">&rsaquo;</span>
                            <span>32J4100 32 inches HD Ready LED TV</span>

                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div id="shopify-section-product-template" class="shopify-section">
            <div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product"
                 id="ProductSection-product-template" data-section-id="product-template" data-section-type="product"
                 data-enable-history-state="true">

                <meta itemprop="name" content="32J4100 32 inches HD Ready LED TV">
                <meta itemprop="url"
                      content="https://ngmulltistore.myshopify.com/products/samsung-32j4100-32-inches-hd-ready-led-tv">
                <meta itemprop="image"
                      content="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_800x.jpg?v=1516260250">

                <div class="grid product-single">
                    <div class="grid__item product-single__photos medium-up--one-half"><!-- product large image -->
                        <div class="prod-large-img">
                            <div class="pimg-loading">&nbsp;</div>
                            <div id="FeaturedImageZoom-product-template"
                                 class="product-single__photo product-single__photo--has-thumbnails lightbox"
                                 data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_1200x1200.jpg?v=1516260250">
                                <img src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_600x.jpg?v=1516260250"
                                     alt="32J4100 32 inches HD Ready LED TV" id="FeaturedImage-product-template"
                                     class="product-featured-img js-zoom-enabled">
                            </div>

<!--                            <script>-->
<!--            $(document).ready(function() {-->
<!--                $('.product-single__photo').magnificPopup({-->
<!--                    items: [-->

<!--               			{ src: '//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_1200x1200.jpg?v=1516260250' },-->

<!--               			{ src: '//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_1200x1200.jpg?v=1516260250' },-->

<!--               			{ src: '//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_1200x1200.jpg?v=1516260250' },-->

<!--               			{ src: '//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_1200x1200.jpg?v=1516260250' },-->

<!--                    ],-->
<!--                    gallery: {-->
<!--                      enabled: true-->
<!--                    },-->
<!--                    type: 'image'-->
<!--                });-->
<!--             });-->


<!--                            </script>-->

                        </div>

                        <!-- product thumb -->

                        <div class="thumbnails-wrapper">
                            <div class="grid product-single__thumbnails product-single__thumbnails-product-template">

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-1_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/32J4100-2_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                                <div class="grid__item small--one-third large-up--one-fifth product-single__thumbnails-item">
                                    <a href="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_600x.jpg?v=1516260250"
                                       class="text-link product-single__thumbnail product-single__thumbnail--product-template"
                                       data-zoom="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_1200x1200.jpg?v=1516260250">
                                        <img class="product-single__thumbnail-image"
                                             src="//cdn.shopify.com/s/files/1/1545/7777/products/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b_160x.jpg?v=1516260250"
                                             alt="32J4100 32 inches HD Ready LED TV">
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="grid__item medium-up--one-half">
                        <div class="product-single__meta">
                            <h1 itemprop="name" class="product-single__title">32J4100 32 inches HD Ready LED TV</h1>

                            <!-- price-->
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="USD">
                                <link itemprop="availability" href="http://schema.org/InStock">
                                <p class="product-single__price product-single__price-product-template">

                                    <span class="visually-hidden">Regular price</span>
                                    <s id="ComparePrice-product-template" class="hide"></s>
                                    <span class="product-price__price product-price__price-product-template">
                    <span id="ProductPrice-product-template" itemprop="price" content="779.0"><span
                            class=money>$779.00</span></span>
                    <span class="product-price__sale-label product-price__sale-label-product-template hide">Sale</span>
                  </span>

                                </p>
                                <div class="price__unit hide"><span class="unit-price"></span><span
                                        aria-hidden="true">/</span><span class="visually-hidden">per&nbsp;</span><span
                                        class="base-unit"></span></div>
                            </div>
                            <div class="product__policies rte" data-product-policies>Tax included.
                                <a href="/policies/shipping-policy">Shipping</a> calculated at checkout.
                            </div><!-- countdown --><!-- availability , type,	sku -->
                            <div class="product-info">

                                <p class="product-stock">
                                    Availability:
                                    <span class="instock ">Available</span>
                                    <span class="outstock hide">Unavailable</span>
                                </p>

                                <p class="product-type">Product Type: <span>LCD LED Televisions</span></p>

                                <p class="product-type">Product Vendor: <span>Samsung</span></p>

                                <p class="product-sku">Product SKU: <span class="variant-sku">32J4100</span></p>

                            </div>

                            <!-- product short description -->

                            <div class="product-single__description rte" itemprop="description">

                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a...

                            </div>

                            <!-- product variants -->
                            <form method="post" action="/cart/add" id="product_form_6452620165" accept-charset="UTF-8"
                                  class="product-form-6452620165 product-form-product-template hidedropdown"
                                  enctype="multipart/form-data" novalidate="novalidate"><input type="hidden"
                                                                                               name="form_type"
                                                                                               value="product"/><input
                                    type="hidden" name="utf8" value="✓"/>
                                <div class="product-form">

                                    <select name="id" id="ProductSelect-product-template"
                                            data-section="product-template"
                                            class="product-form__variants selectbox no-js">

                                        <option selected="selected" value="21349670149">
                                            Default Title
                                        </option>

                                    </select>

                                    <!-- product swatches -->

                                </div>
                                <!-- add to cart -->
                                <div class="product-action">
                                    <div class="product-form__item--quantity">
                                        <div class="wrapQtyBtn" title="Quantity">
                                            <div class="qtyField">

                                            </div>
                                        </div>
<!--                                        <script>-->
<!--                  $(".qtyBtn").on("click", function() {-->
<!--                    var oldValue = jQuery("#Quantity").val(),-->
<!--                        newVal = 1;-->

<!--                    if ($(this).is(".plus")) {-->
<!--                      newVal = parseInt(oldValue) + 1;-->
<!--                    } else if (oldValue > 1) {-->
<!--                      newVal = parseInt(oldValue) - 1;-->
<!--                    }-->
<!--                    $("#Quantity").val(newVal);-->
<!--                  });-->


<!--                                        </script>-->
                                    </div>

                                    <div class="product-form__item--submit">
                                        <button type="submit" name="add" id="AddToCart-product-template"
                                                class="btn product-form__cart-submit product-form__cart-submit--small">
                  <span id="AddToCartText-product-template">

                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart

                  </span>
                                        </button>

                                    </div>
                                </div>
                            </form>

                            <!-- global text block -->

                            <div class="productglobaltext">
                                <ul>
                                    <li>Exchange or Return within 7 days of a delivery</li>
                                    <li>100% quality Guaranteed Plus Fast & Secure Shipping</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- product tabs -->

                <div class="tabs-listing">
                    <ul class="product-tabs small--hide">

                        <li><a class="tablink" href="#tab1">Product Details</a></li>

                        <li><a class="tablink" href="#tab2">Product Reviews</a></li>

                        <li><a class="tablink" href="#tab3">Graphic</a></li>

                        <li><a class="tablink" href="#tab4">Shipping & Returns</a></li>

                    </ul>
                    <div class="tab-container">

                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab1">Product Details</a></h3>
                        <div id="tab1" class="tab-content grid-products">
                            <div class="product-description rte" itemprop="description"><strong>Lorem Ipsum</strong> is
                                simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                containing Lorem Ipsum passages, and more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>

                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab2">Product Reviews</a></h3>
                        <div id="tab2" class="tab-content grid-products">

                            <div id="shopify-product-reviews" data-id="6452620165">
                                <style scoped>.spr-container {
    padding: 24px;
    border-color: #ECECEC;}
  .spr-review, .spr-form {
    border-color: #ECECEC;
  }


                                </style>

                                <div class="spr-container">
                                    <div class="spr-header">
                                        <h2 class="spr-header-title">Customer Reviews</h2>
                                        <div class="spr-summary">

        <span class="spr-starrating spr-summary-starrating">
          <i class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                class="spr-icon spr-icon-star"></i><i class="spr-icon spr-icon-star"></i><i
                class="spr-icon spr-icon-star"></i>
        </span>
                                            <span class="spr-summary-caption"><span
                                                    class='spr-summary-actions-togglereviews'>Based on 1 review</span>
        </span><span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(6452620165);return false'>Write a review</a>
      </span>
                                        </div>
                                    </div>

                                    <div class="spr-content">
                                        <div class='spr-form' id='form_6452620165' style='display: none'></div>
                                        <div class='spr-reviews' id='reviews_6452620165'></div>
                                    </div>

                                </div>
<!--                                <script type="application/ld+json">-->
<!--                                    {-->
<!--                                        "@context": "http://schema.org/",-->
<!--                                        "@type": "AggregateRating",-->
<!--                                        "reviewCount": "1",-->
<!--                                        "ratingValue": "5.0",-->
<!--                                        "itemReviewed": {-->
<!--                                            "@type": "Product",-->
<!--                                            "name": "32J4100 32 inches HD Ready LED TV",-->
<!--                                            "offers": {-->
<!--                                                "@type": "AggregateOffer",-->
<!--                                                "lowPrice": "",-->
<!--                                                "highPrice": "",-->
<!--                                                "priceCurrency": ""-->
<!--                                            }-->
<!--                                        }-->
<!--                                    }-->
<!--                                </script>-->
                            </div>
                        </div>

                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab3">Graphic</a></h3>
                        <div id="tab3" class="tab-content grid-products">

                            <img src="//cdn.shopify.com/s/files/1/1545/7777/files/Philips-HP6576-Epilator-Review.jpg?v=1613515540"
                                 alt=""/>

                        </div>

                        <h3 class="acor-ttl medium-up--hide"><a class="tablink" href="#tab4">Shipping & Returns</a></h3>
                        <div id="tab4" class="tab-content grid-products"><h4>Returns Policy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eros justo, accumsan non
                                dui sit amet. Phasellus semper volutpat mi sed imperdiet. Ut odio lectus, vulputate non
                                ex non, mattis sollicitudin purus. Mauris consequat justo a enim interdum, in consequat
                                dolor accumsan. Nulla iaculis diam purus, ut vehicula leo efficitur at.</p>
                            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In blandit nunc enim, sit
                                amet pharetra erat aliquet ac.</p>

                            <h4>Shipping</h4>

                            <p>Pellentesque ultrices ut sem sit amet lacinia. Sed nisi dui, ultrices ut turpis pulvinar.
                                Sed fringilla ex eget lorem consectetur, consectetur blandit lacus varius. Duis vel
                                scelerisque elit, et vestibulum metus. Integer sit amet tincidunt tortor. Ut lacinia
                                ullamcorper massa, a fermentum arcu vehicula ut. Ut efficitur faucibus dui Nullam
                                tristique dolor eget turpis consequat varius. Quisque a interdum augue. Nam ut nibh
                                mauris.
                            </p></div>

                    </div>
                </div>

            </div>

<!--            <script type="application/json" id="ProductJson-product-template">{-->
<!--                "id": 6452620165,-->
<!--                "title": "32J4100 32 inches HD Ready LED TV",-->
<!--                "handle": "samsung-32j4100-32-inches-hd-ready-led-tv",-->
<!--                "description": "\u003cstrong\u003eLorem Ipsum\u003c\/strong\u003e is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",-->
<!--                "published_at": "2016-10-15T11:29:00+05:30",-->
<!--                "created_at": "2016-10-15T11:29:10+05:30",-->
<!--                "vendor": "Samsung",-->
<!--                "type": "LCD LED Televisions",-->
<!--                "tags": [-->
<!--                    "$500 - $1000",-->
<!--                    "Entertainment",-->
<!--                    "LCD LED Televisions",-->
<!--                    "LG",-->
<!--                    "Samsung",-->
<!--                    "Sony",-->
<!--                    "TV"-->
<!--                ],-->
<!--                "price": 77900,-->
<!--                "price_min": 77900,-->
<!--                "price_max": 77900,-->
<!--                "available": true,-->
<!--                "price_varies": false,-->
<!--                "compare_at_price": null,-->
<!--                "compare_at_price_min": 0,-->
<!--                "compare_at_price_max": 0,-->
<!--                "compare_at_price_varies": false,-->
<!--                "variants": [-->
<!--                    {-->
<!--                        "id": 21349670149,-->
<!--                        "title": "Default Title",-->
<!--                        "option1": "Default Title",-->
<!--                        "option2": null,-->
<!--                        "option3": null,-->
<!--                        "sku": "32J4100",-->
<!--                        "requires_shipping": true,-->
<!--                        "taxable": true,-->
<!--                        "featured_image": null,-->
<!--                        "available": true,-->
<!--                        "name": "32J4100 32 inches HD Ready LED TV",-->
<!--                        "public_title": null,-->
<!--                        "options": [-->
<!--                            "Default Title"-->
<!--                        ],-->
<!--                        "price": 77900,-->
<!--                        "weight": 0,-->
<!--                        "compare_at_price": null,-->
<!--                        "inventory_quantity": 1,-->
<!--                        "inventory_management": null,-->
<!--                        "inventory_policy": "deny",-->
<!--                        "barcode": "",-->
<!--                        "requires_selling_plan": false,-->
<!--                        "selling_plan_allocations": []-->
<!--                    }-->
<!--                ],-->
<!--                "images": [-->
<!--                    "\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-1.jpg?v=1516260250",-->
<!--                    "\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-2.jpg?v=1516260250",-->
<!--                    "\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d.jpg?v=1516260250",-->
<!--                    "\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b.jpg?v=1516260250"-->
<!--                ],-->
<!--                "featured_image": "\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-1.jpg?v=1516260250",-->
<!--                "options": [-->
<!--                    "Title"-->
<!--                ],-->
<!--                "media": [-->
<!--                    {-->
<!--                        "alt": null,-->
<!--                        "id": 128684687414,-->
<!--                        "position": 1,-->
<!--                        "preview_image": {-->
<!--                            "aspect_ratio": 1.0,-->
<!--                            "height": 1200,-->
<!--                            "width": 1200,-->
<!--                            "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-1.jpg?v=1516260250"-->
<!--                        },-->
<!--                        "aspect_ratio": 1.0,-->
<!--                        "height": 1200,-->
<!--                        "media_type": "image",-->
<!--                        "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-1.jpg?v=1516260250",-->
<!--                        "width": 1200-->
<!--                    },-->
<!--                    {-->
<!--                        "alt": null,-->
<!--                        "id": 128684720182,-->
<!--                        "position": 2,-->
<!--                        "preview_image": {-->
<!--                            "aspect_ratio": 1.0,-->
<!--                            "height": 1342,-->
<!--                            "width": 1342,-->
<!--                            "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-2.jpg?v=1516260250"-->
<!--                        },-->
<!--                        "aspect_ratio": 1.0,-->
<!--                        "height": 1342,-->
<!--                        "media_type": "image",-->
<!--                        "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/32J4100-2.jpg?v=1516260250",-->
<!--                        "width": 1342-->
<!--                    },-->
<!--                    {-->
<!--                        "alt": null,-->
<!--                        "id": 128684752950,-->
<!--                        "position": 3,-->
<!--                        "preview_image": {-->
<!--                            "aspect_ratio": 1.0,-->
<!--                            "height": 515,-->
<!--                            "width": 515,-->
<!--                            "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d.jpg?v=1516260250"-->
<!--                        },-->
<!--                        "aspect_ratio": 1.0,-->
<!--                        "height": 515,-->
<!--                        "media_type": "image",-->
<!--                        "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-1_72779740-0fae-411c-bc6e-4f98a63e461d.jpg?v=1516260250",-->
<!--                        "width": 515-->
<!--                    },-->
<!--                    {-->
<!--                        "alt": null,-->
<!--                        "id": 128684785718,-->
<!--                        "position": 4,-->
<!--                        "preview_image": {-->
<!--                            "aspect_ratio": 1.0,-->
<!--                            "height": 515,-->
<!--                            "width": 515,-->
<!--                            "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b.jpg?v=1516260250"-->
<!--                        },-->
<!--                        "aspect_ratio": 1.0,-->
<!--                        "height": 515,-->
<!--                        "media_type": "image",-->
<!--                        "src": "https:\/\/cdn.shopify.com\/s\/files\/1\/1545\/7777\/products\/samsung-2_6e346ca3-76e4-4084-93a5-cdcd1977cf6b.jpg?v=1516260250",-->
<!--                        "width": 515-->
<!--                    }-->
<!--                ],-->
<!--                "requires_selling_plan": false,-->
<!--                "selling_plan_groups": [],-->
<!--                "content": "\u003cstrong\u003eLorem Ipsum\u003c\/strong\u003e is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."-->
<!--            }</script>-->

        </div>
        <div id="shopify-section-related-products" class="shopify-section">

            <div class="related-product wow fadeIn" id="related-products" data-mb="2" data-tb="3" data-ds="5"
                 data-section-id="related-products" data-section-type="carousel-section">
                <div class="page-width">

                    <header class="section-header">
                        <h2 class="section-header__title text-center h3"><span>Related Products</span></h2>

                        <p class="sub-heading">You can stop autoplay, increase/decrease aniamtion speed and number of
                            grid to show and products from store admin.</p>

                    </header>

                    <div id="products-related-products">
                        <div id="productSlider-related-products" class=" grid--view-items productSlider">

                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">

                                <div class="grid-view-item wow fadeIn" data-wow-delay="50ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/samsung-ht-j5100k-5-1-channel-blu-ray">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_200x.png?v=1485678754"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/audio_speakers_PNG11130_{width}x.png?v=1485678754"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.0677655677655677"
                                                 data-sizes="auto" alt="5.1 Channel Blu Ray Dollby Sound">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>

                                            <!-- product label -->

                                            <span class="product-labels rectangular">

            </span>

                                        </a>

                                        <!-- product buttons -->

                                        <div class="button-set">

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349669573"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>

                                            <a href="/collections/entertainment/products/samsung-ht-j5100k-5-1-channel-blu-ray?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/samsung-ht-j5100k-5-1-channel-blu-ray"
                                           class="grid-view-item__title">5.1 Channel Blu Ray Dollby Sound</a>

                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->

                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$1,700.00</span></span>

                                        </div>

                                        <ul class="swatches">

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">

                                <div class="grid-view-item wow fadeIn" data-wow-delay="100ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/sony-ht-iv300-5-1-channel-dvd-home-theatre">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/home-theater_200x.jpg?v=1485590992"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/home-theater_{width}x.jpg?v=1485590992"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto" alt="5.1 Channel DVD Home Theatre">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>

                                            <!-- product label -->

                                            <span class="product-labels rectangular">

            </span>

                                        </a>

                                        <!-- product buttons -->

                                        <div class="button-set">

                                            <div class="wishlist-btn">
                                                <a class="btn-link wishlist add-to-wishlist" href="#"
                                                   rel="sony-ht-iv300-5-1-channel-dvd-home-theatre"
                                                   title="Add to Wishlist"><i class="fa fa-heart-o"></i><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></a>
                                                <a class="btn-link wishlist added-wishlist" href="/pages/wishlist"
                                                   rel="sony-ht-iv300-5-1-channel-dvd-home-theatre"
                                                   title="Already in your wishlist, Go to wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                            </div>

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349667205"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>

                                            <a href="/collections/entertainment/products/sony-ht-iv300-5-1-channel-dvd-home-theatre?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/sony-ht-iv300-5-1-channel-dvd-home-theatre"
                                           class="grid-view-item__title">5.1 Channel DVD Home Theatre</a>

                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->

                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$369.00</span></span>

                                        </div>

                                        <ul class="swatches">

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">

                                <div class="grid-view-item wow fadeIn" data-wow-delay="150ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/apple-mf886hn-a-intel-core-i5">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/apple-intel-core-1_200x.jpg?v=1485533584"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/apple-intel-core-1_{width}x.jpg?v=1485533584"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto" alt="Apple MF886HN/A Intel Core i5">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>

                                            <!-- product label -->

                                            <span class="product-labels rectangular">

            </span>
                                        </a>
                                        <!-- product buttons -->
                                        <div class="button-set">

                                            <div class="wishlist-btn">
                                                <a class="btn-link wishlist add-to-wishlist" href="#"
                                                   rel="apple-mf886hn-a-intel-core-i5" title="Add to Wishlist"><i
                                                        class="fa fa-heart-o"></i><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></a>
                                                <a class="btn-link wishlist added-wishlist" href="/pages/wishlist"
                                                   rel="apple-mf886hn-a-intel-core-i5"
                                                   title="Already in your wishlist, Go to wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                            </div>

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349676933"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>
                                            <a href="/collections/entertainment/products/apple-mf886hn-a-intel-core-i5?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/apple-mf886hn-a-intel-core-i5"
                                           class="grid-view-item__title">Apple MF886HN/A Intel Core i5</a>
                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->
                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$1,200.00</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">
                                <div class="grid-view-item wow fadeIn" data-wow-delay="200ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/sony-bravia-klv-22p413d-22-inches-full-hd-led">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/Bravia-1_200x.jpg?v=1485592642"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/Bravia-1_{width}x.jpg?v=1485592642"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto" alt="Bravia Full HD LED">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>
                                            <!-- product label -->
                                            <span class="product-labels rectangular">
            </span>
                                        </a>
                                        <!-- product buttons -->
                                        <div class="button-set">

                                            <div class="wishlist-btn">
                                                <a class="btn-link wishlist add-to-wishlist" href="#"
                                                   rel="sony-bravia-klv-22p413d-22-inches-full-hd-led"
                                                   title="Add to Wishlist"><i class="fa fa-heart-o"></i><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></a>
                                                <a class="btn-link wishlist added-wishlist" href="/pages/wishlist"
                                                   rel="sony-bravia-klv-22p413d-22-inches-full-hd-led"
                                                   title="Already in your wishlist, Go to wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                            </div>

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349670725"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>

                                            <a href="/collections/entertainment/products/sony-bravia-klv-22p413d-22-inches-full-hd-led?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/sony-bravia-klv-22p413d-22-inches-full-hd-led"
                                           class="grid-view-item__title">Bravia Full HD LED</a>

                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->

                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$700.00</span></span>

                                        </div>

                                        <ul class="swatches">

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">

                                <div class="grid-view-item wow fadeIn" data-wow-delay="250ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/sony-dual-shock-3-ps3-wireless-controller">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/41ZYHhV28mL_200x.jpg?v=1485594472"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/41ZYHhV28mL_{width}x.jpg?v=1485594472"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.597444089456869"
                                                 data-sizes="auto" alt="Dualshock 3 PS3 Wireless Controller">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>

                                            <!-- product label -->

                                            <span class="product-labels rectangular">

            </span>

                                        </a>

                                        <!-- product buttons -->

                                        <div class="button-set">

                                            <div class="wishlist-btn">
                                                <a class="btn-link wishlist add-to-wishlist" href="#"
                                                   rel="sony-dual-shock-3-ps3-wireless-controller"
                                                   title="Add to Wishlist"><i class="fa fa-heart-o"></i><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></a>
                                                <a class="btn-link wishlist added-wishlist" href="/pages/wishlist"
                                                   rel="sony-dual-shock-3-ps3-wireless-controller"
                                                   title="Already in your wishlist, Go to wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                            </div>

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349666437"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>

                                            <a href="/collections/entertainment/products/sony-dual-shock-3-ps3-wireless-controller?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/sony-dual-shock-3-ps3-wireless-controller"
                                           class="grid-view-item__title">Dualshock 3 PS3 Wireless Controller</a>

                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->

                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$200.00</span></span>

                                        </div>

                                        <ul class="swatches">

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="grid__item small--one-half medium--one-third large--one-quarter widescreen--one-fifth">

                                <div class="grid-view-item wow fadeIn" data-wow-delay="300ms">
                                    <div class="grid-view_image">
                                        <a class="grid-view-item__link"
                                           href="/collections/entertainment/products/koryo-ds-1681-bluetooth-speaker">
                                            <!-- product image -->
                                            <img class="grid-view-item__image lazyload primary"
                                                 src="//cdn.shopify.com/s/files/1/1545/7777/products/Audio-Systems-1_200x.jpg?v=1476511137"
                                                 data-src="//cdn.shopify.com/s/files/1/1545/7777/products/Audio-Systems-1_{width}x.jpg?v=1476511137"
                                                 data-widths="[180, 360, 540, 720, 900, 1080, 1200]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto" alt="Koryo DS 1681 Bluetooth Speaker">

                                            <i class="fa fa-circle-o-notch fa-spin loading"></i>
                                            <img src="" class="grid-view-item__image lazyload variantImg" alt=""/>

                                            <!-- product label -->

                                            <span class="product-labels rectangular">

            </span>

                                        </a>

                                        <!-- product buttons -->

                                        <div class="button-set">

                                            <div class="wishlist-btn">
                                                <a class="btn-link wishlist add-to-wishlist" href="#"
                                                   rel="koryo-ds-1681-bluetooth-speaker" title="Add to Wishlist"><i
                                                        class="fa fa-heart-o"></i><i
                                                        class="fa fa-circle-o-notch fa-spin"></i></a>
                                                <a class="btn-link wishlist added-wishlist" href="/pages/wishlist"
                                                   rel="koryo-ds-1681-bluetooth-speaker"
                                                   title="Already in your wishlist, Go to wishlist"><i
                                                        class="fa fa-heart"></i></a>
                                            </div>

                                            <a class="btn-link add-to-cart" href="javascript:voide(0);" id="21349666181"
                                               rel="1" title="Add to cart"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i></a>

                                            <a href="/collections/entertainment/products/koryo-ds-1681-bluetooth-speaker?view=quick_view"
                                               title="Quick View" class="btn-link quick-view"><i class="fa fa-search"
                                                                                                 aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="details">
                                        <a href="/collections/entertainment/products/koryo-ds-1681-bluetooth-speaker"
                                           class="grid-view-item__title">Koryo DS 1681 Bluetooth Speaker</a>

                                        <div class="grid-view-item__meta"><!-- snippet/product-price.liquid -->

                                            <span class="visually-hidden">Regular price</span>
                                            <span class="product-price__price"><span class=money>$120.00</span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <script>-->
<!--  // Override default values of shop.strings for each template.-->
<!--  // Alternate product templates can change values of-->
<!--  // add to cart button, sold out, and unavailable states here.-->
<!--  theme.productStrings = {-->
<!--    addToCart: "Add to cart",-->
<!--    soldOut: "Sold out",-->
<!--    unavailable: "Unavailable"-->
<!--  }-->

<!--  $(function() {-->
<!--    $('.product-form-6452620165 .swatch :radio').change(function() {-->
<!--      var optionIndex = $(this).closest('.swatch').attr('data-option-index');-->
<!--      var optionValue = $(this).val();-->
<!--      $(this).closest('form').find('.single-option-selector').eq(optionIndex).val(optionValue).trigger('change');-->
<!--      Currency.convertAll(shopCurrency, $('#currencies li.selected').attr('data-currency'));-->
<!--    });-->
<!--  });-->


<!--        </script>-->
    </main>
</div>
{% endblock %}