{% extends 'layout/base.html' %}
{% load static %}
{% block title %} Signup {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto d-flex flex-column justify-content-center">
                <h5 class="title-primary py-3">CREATE AN ACCOUNT</h5>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <form method="post" class="form-signup">
                    {% csrf_token %}
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInputFN" placeholder="First name" name="firstname" required>
                        <label for="floatingInputFN">First Name</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInputLN" placeholder="Last name" name="lastname" required>
                        <label for="floatingInputFN">Last Name</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" id="floatingInputUN" placeholder="User name" name="username" required>
                        <label for="floatingInputUN">User Name</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="email" class="form-control" id="floatingInputE" placeholder="Email" name="email" required>
                        <label for="floatingInputE">Email</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="password" class="form-control" id="floatingInputP" placeholder="Password" name="password" required>
                        <label for="floatingInputP">Password</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="password" class="form-control" id="floatingInputRP" placeholder="Re Password" name="repassword" required>
                        <label for="floatingInputRP">Confirm Password</label>
                    </div>
                    <div class="form-floating mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}